<div id="<%= dom_id car_type %>">
  <p>
    <strong>Name:</strong>
    <%= car_type.name %>
  </p>
  <p>
    <strong>Price:</strong>
    $<%= car_type.price %>
  </p>
  <p>
      <strong>Height:</strong>
      <%= car_type.max_height %> in. - <%= car_type.min_height %> in.
  </p>

</div>
