<p style="color: green"><%= notice %></p>

<%= render @car_type %>

<div>
  <%= link_to "Edit this Cart Type", edit_car_type_path(@car_type) %> |
  <%= link_to "Back to Car Types", car_types_path %>

  <%= button_to "Destroy this Car Type", @car_type, method: :delete %>
</div>
