<p style="color: green"><%= notice %></p>

<%= render @car_type %>
<% if @car_type.cars.any? %><table width="100%">
  <table width="100%">
    <thead>
      <tr>
        <th class="text-left">Car Type</th>
        <th class="text-left">Price</th>
        <th class="text-left">Application</th>
        <th class="text-left">Modifications</th>
        <th class="text-left">Complete</th>
        <th colspan="3" class="text-left">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @car_type.cars.each do |car| %>
        <tr>
          <td><%= link_to car.car_type.name, car_type_path(car.car_type) %></td>
          <td><%= car.car_type.price %></td>
          <td>
            <% if car.user_application.nil? %>
              None
            <% else %>
              <%= link_to car.user_application.child_name, user_application_path(car.user_application) %>
            <% end %>
          </td>
          <td><%= car.modification_details %></td>
          <td><%= car.complete ? "True" : "False" %></td>
          <td><%= link_to 'Show', car %></td>
          <td><%= link_to 'Edit', edit_car_path(car) %></td>
          <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No cars associated with this car_type.</p>
<% end %>
<div>
  <%= link_to "Edit this Car Type", edit_car_type_path(@car_type) %> |
  <%= link_to "Back to Car Types", car_types_path %>
  <%= button_to "Destroy this Car Type", @car_type, method: :delete %>
</div>
