<%= form_with(model: part) do |form| %>
  <% if part.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
        <% part.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :part_name %>
    <%= form.text_field :part_name %>
  </div>

  <div class="field">
    <%= form.label :part_price %>
    <%= form.number_field :part_price, step: '0.01' %>
  </div>

  <div class="field">
    <%= form.label :purchase_source %>
    <%= form.text_field :purchase_source %>
  </div>

  <div class="field">
    <%= form.label :quantity_purchased %>
    <%= form.number_field :quantity_purchased %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
