<div id="<%= dom_id part %>">
  <table class="border border-black bg-gray-100 p-4 rounded-md">
    <tr>
      <td class="p-2"><strong>Name:</strong></td>
      <td class="p-2"><%= part.part_name %></td>
    </tr>
    <tr>
      <td class="p-2"><strong>Price:</strong></td>
      <td class="p-2">$<%= part.part_price %></td>
    </tr>
    <tr>
      <td class="p-2"><strong>Source:</strong></td>
      <td class="p-2"><%= part.purchase_source %></td>
    </tr>
    <tr>
      <td class="p-2"><strong>Quantity:</strong></td>
      <td class="p-2"><%= part.quantity_purchased %></td>
    </tr>
    <tr>
      <td class="p-2"><strong>Car:</strong></td>
      <% if link_to Car.find(part.car_id).user_application.nil? %>
        <td class="p-2"><%= link_to "View Car", car_path(Car.find(part.car_id)),  class: "text-blue-500 hover:underline p-2"%></td>
      <% else %>
        <td><%= link_to Car.find(part.car_id).user_application.child_last_name, car_path(Car.find(part.car_id)),  class: "text-blue-500 hover:underline p-2"%></td>
      <% end %>
    </tr>
  </table>
</div>
