<div id="<%= dom_id part %>">
  <p>
    <strong>Name:</strong>
    <%= part.part_name %>
  </p>
  <p>
    <strong>Price:</strong>
    $<%= part.part_price %>
  </p>
  <p>
    <strong>Source:</strong>
    $<%= part.purchase_source %>
  </p>
  <p>
    <strong>Quantity:</strong>
    $<%= part.quantity_purchased %>
  </p>
</div>
