<p style="color: green"><%= notice %></p>

<div class="flex flex-col justify-center items-center">
    <h1 class='p-4 text-xl font-bold'>Part</h1>
    <%= render @part %>
    <%= link_to "Edit this Part", edit_part_path(@part), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounde" %>
    <br>
    <%= link_to "Back to Parts", parts_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounde" %>
    <br>
    <%= button_to "Destroy this Part", @part, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger text-black-500 bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounde" %>
    
</div>


