<p style="color: green"><%= notice %></p>

<%= render @part %>

<div>
  <%= link_to "Edit this Part", edit_part_path(@part) %> |
  <%= link_to "Back to Parts", parts_path %>

  <%= button_to "Destroy this Part", @part, method: :delete %>
</div>
