<div class='mt-8'><%= link_to('Back to Dashboard', dashboard_path, class:'border border-black bg-white rounded-lg px-2 py-1 m-4') %></div>

<h1 class="font-bold text-4xl m-4 text-center">Edit Profile</h1>
<div class='flex flex-col justify-center items-center border border-black bg-[#FFEFAD] rounded-lg lg:w-2/3 w-[500px] mx-auto'>
    <%= form_for @user, html: { class: 'w-full' } do |f| %>
        <div class='flex items-center justify-between p-2'>
            <p class='p-2'>Email:</p>
            <div class='p-2 w-3/4'><%= f.text_field(:email, class: 'py-1 px-2 border border-black w-full') %></div>
        </div>

        <div class='flex items-center justify-between p-2'>
            <p class='p-2 whitespace-nowrap'>Phone Number:</p>
            <div class='p-2 w-3/4'><%= f.text_field(:phone, class: 'py-1 px-2 border border-black w-full') %></div>
        </div>

        <div class='text-center m-4'>
            <button type="submit" class="border border-black bg-white py-1 px-2 mt-2 rounded-lg">Update Profile</button>
        </div>
    <% end %>
    
    <% if @user.errors.any? %>
        <div id="error_explanation" class="text-center">
            <h2 class=""><%= pluralize(@user.errors.count, "Error") %> </h2>
            <ul>
            <% @user.errors.full_messages.each do |message| %>
            <li class=""><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>


</div>