<div class="mx-auto md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render partial: 'form', user: @user, application_notes: @application_notes %>

  <div class="flex justify-center mt-4">
    <%= link_to "Edit note", edit_user_application_application_note_path(@user_application, @application_note), class: "m-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Delete note", delete_user_application_application_note_path(@user_application, @application_note), class: "m-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    <%= link_to "Back to #{@user_application.child_first_name + " " + @user_application.child_last_name}'s notes", user_application_application_notes_path(@user_application), class: "m-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
