<%= link_to('Back to Homepage', {controller: 'dashboards', action: 'show'}, class:'border border-black px-2 py-1') %><br />
<div class="user_applications index">
    <h2>User Applications</h2>
    <table class="listing" summary="user_application List" style="width: 100%;">
        <tr class="header">
            <th>#</th>
            <th>Child Name</th>
        </tr>
        <% @user_applications.each do |user_application| %>
        <tr>
            <td><%= user_application.child_name %></td>
            <td class="actions">
                <%= link_to("Show", officer_application_path(user_application), class: "action show border border-black px-2 py-1 m-2")%>
                <%= link_to("Edit", edit_officer_application_path(user_application), class: "action edit border border-black px-2 py-1 m-2")%>
                <%= link_to("Delete", delete_officer_application_path(user_application), class: "action delete border border-black px-2 py-1 m-2")%>
            </td>
        </tr>
        <% end %>
    </table>
</div>