<%= link_to('Back to Homepage', home_path, class:'border border-black px-2 py-1 m-4') %><br />

<h1 class="text-5xl font-bold m-4">Welcome to the User Dashboard!</h1>

<h1 class='text-4xl m-4'>My Profile</h1>

<p class="m-4">Email: <%= @user.email %></p>
<p class="m-4">Phone: <%= @user.phone %></p>

<div class='m-4'>
    <%= link_to "Edit Your Profile", edit_user_path(@user), class:'border border-black px-2 py-1 mr-1'%>
    <%= link_to "View Your Applications", user_applications_path, class:'border border-black px-2 py-1 ml-1' %>
</div>


<div class='mx-4 mt-8'><%= link_to "Sign Out", destroy_admin_session_path, class:'border border-black px-2 py-1' %></div>