<div id="<%= dom_id car %>">
  <p>
    <strong>Name:</strong>
    <%= car.car_type.name %>
  </p>
  <p>
    <strong>Price:</strong>
    $<%= car.car_type.price %>
  </p>
  <p>
    <strong>Application:</strong>
    <%= car.user_application.nil? ? "None" : car.user_application.child_name %>
  <p>
    <strong>Modifications:</strong>
    <%= car.modification_details %>
  </p>
  <p>
    <strong>Complete?:</strong>
    <%= car.complete ? "True" : "False" %>
  </p>
</div>
