<%= form_with(model: car) do |form| %>
  <% if car.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_application_id, 'Link to Application', style: "display: block" %>
    <%= form.collection_select :user_application_id, UserApplication.all, :id, :child_name, { prompt: 'Select Application' }, { class: 'form-control' } %>
  </div>
  <div>
    <%= form.label :modification_details, style: "display: block" %>
    <%= form.text_field :modification_details %>
  </div>
  <div>
    <%= form.label :car_type_id, 'Car Type', style: "display: block" %>
    <%= form.collection_select :car_type_id, CarType.all, :id, :name, { prompt: 'Select Car Type' }, { class: 'form-control' } %>
    <%= link_to "New Car Type", new_car_type_path %>
  </div>
  <div>
    <%= form.label :complete, 'Complete?' %>
    <%= form.check_box :complete %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
