<%= form_with(model: car) do |form| %>
  <% if car.errors.any? %>
    <div class="border border-red-400 bg-red-100 text-red-700 px-4 py-3 rounded relative" role="alert">
      <h2 class="font-bold"><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="max-w-full border border-gray-900 bg-gray-300" summary="Car form fields">
    <tbody>
      <tr>
        <th class="p-2">Link to Application</th>
        <td class="p-2">
          <%= form.collection_select :user_application_id, UserApplication.all, :id, :child_name, { prompt: 'Select Application' }, { class: 'form-select' } %>
        </td>
      </tr>
      <tr>
        <th class="p-2">Modification Details</th>
        <td class="p-2">
          <%= form.text_area :modification_details, class: "form-textarea resize-y w-full h-32", cols: 100, rows: 5 %>
        </td>
      </tr>
      <tr>
        <th class="p-2">Car Type</th>
        <td class="p-2">
          <%= form.collection_select :car_type_id, CarType.all, :id, :name, { prompt: 'Select Car Type' }, { class: 'form-select' } %>
          <%= link_to "New Car Type", new_car_type_path, class: "text-blue-1000 hover:underline ml-2" %>
        </td>
      </tr>
      <tr>
        <th class="p-2">Complete?</th>
        <td class="p-2">
          <%= form.check_box :complete, class: "form-checkbox" %>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="p-2 text-center">
          <%= form.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

