<p style="color: green"><%= notice %></p>
<p class="text-green-500"><%= notice %></p>

<div class="flex flex-col justify-center items-center w-full">
<% if @edit_access %>
<h1 class="text-4xl font-bold mb-4">Cars</h1>
<% else %>
<h1 class="text-4xl font-bold mb-4">My Cars</h1>
<% end %>
</div>
<div class="overflow-x-auto">
<table class="w-full max-w-7xl mx-auto overflow-hidden bg-white divide-y divide-gray-300 rounded-lg">
  <thead>
    <tr>
      <th class='p-4 text-xl font-bold text-left'>Application</th>
      <th class='p-4 text-xl font-bold text-left'>First Name</th>
      <th class='p-4 text-xl font-bold text-left'>Last Name</th>
      <% if @edit_access %>
        <th class='p-4 text-xl font-bold text-left'>Car Info</th>
        <th class='p-4 text-xl font-bold text-left'>Price</th>
      <% end %>
      <th class='p-4 text-xl font-bold text-left'>Complete</th>
      <% if @edit_access %>
        <th colspan="3" class='p-4 text-xl font-bold text-left'>Actions</th>
      <% else %>
        <th colspan="1" class='p-4 text-xl font-bold text-left'>Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td class = "px-3 py-4 break-all">
          <% if car.user_application.nil? %>
            None
          <% else %>
            <%= link_to "Application", user_application_path(car.user_application), class: "text-blue-500 hover:underline" %>
          <% end %>
        </td>
        <td class = "px-3 py-4 break-all">
          <% if car.user_application.nil? %>
            None
          <% else %>
            <%= car.user_application.child_first_name %>
          <% end %>
        </td>
        <td class = "px-3 py-4 break-all">
          <% if car.user_application.nil? %>
            None
          <% else %>
            <%= car.user_application.child_last_name %>
          <% end %>
        </td>
        <% if @edit_access %>
        <td class = "px-3 py-4 break-all"><%= link_to car.car_type.name, car_type_path(car.car_type), class: "text-blue-500 hover:underline" %></td>
        <td class = "px-3 py-4 break-all"><%= car.car_type.price %></td>
        <% end %>
        <td class = "px-3 py-4 break-all"><%= car.complete ? "True" : "False" %></td>
        <td class = "px-3 py-4 break-all"><%= link_to 'Show', car, class: "text-blue-500 hover:underline" %></td>
        <% if @edit_access %>
          <td class = "px-3 py-4 break-all"><%= link_to 'Edit', edit_car_path(car), class: "text-blue-500 hover:underline" %></td>
          <td><%= link_to 'Delete', car, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-500 hover:underline" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @edit_access %>
  <div class="flex">
  <%= link_to "Main Inventory", inventory_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium m-2" %>
  <%= link_to "New Car", new_car_path, class: "rounded-lg py-3 px-5 bg-blue-400 inline-block font-medium m-2" %>
  </div>
<% end %>

<% unless @edit_access %>
  <div class="flex">
  <%= link_to "Back to Dashboard", dashboard_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium m-2"%>
  </div>
<% end %>