<p style="color: green"><%= notice %></p>

<%= render @car %>

<div>
  <%= link_to "Edit this Car", edit_car_path(@car) %> |
  <%= link_to "Back to Cars", cars_path %>

  <%= button_to "Destroy this Car", @car, method: :delete %>
</div>
