<p style="color: green"><%= notice %></p>
<div class="flex flex-col justify-center items-center">
    <h1 class='p-4 text-xl font-bold'>Car</h1>
    <%= render @car %>
    <%= form_with(model: Note.new, url: notes_path, local: true) do |form| %>
      <%= form.hidden_field :car_id, value: @car.id %>
      <%= form.hidden_field :user_id, value: @current_user.id %>
      <br>
      <div class="flex items-center" width = "100%">
        <%= form.text_area :content, class: 'py-1 px-2 mr-2 w-full', placeholder: 'Enter your note here...' %>
        <%= form.submit "Create Note", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
      </div>
    <% end %>

    <% if @car.notes.any? %>
      <br>
      <div class="overflow-x-auto">
        <table class="w-full max-w-6xl mx-auto overflow-hidden bg-white divide-y divide-gray-300 rounded-lg">
          <thead>
            <tr>
              <td class='p-4 text-xl font-bold'>User</td>
              <td class='p-4 text-xl font-bold'>Note Info</td>
              <% if @current_user.present? %>
                <td class='p-4 text-xl font-bold'>Actions</td>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @car.notes.each do |note| %>
              <tr>
                <td class="px-3 py-4"><%= User.find(note.user_id).email %></td>
                <td class="px-3 py-4 break-all"><%= note.content %></td>
                <% if @current_user.present? && note.user_id == @current_user.id %>
                  <td class="px-3 py-4">
                    <%= link_to "Edit", edit_note_path(note), class: "text-blue-500 hover:underline mr-2" %>
                    <%= button_to 'Destroy', note_path(note), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-500 hover:underline" %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    
    <br>
    <% if @edit_access %>
      <% if @car.parts.any? %><table width="100%">
        <table width = "100%">
          <thead>
            <tr>
              <th class="text-left">Part Name</th>
              <th class="text-left">Quantity</th>
              <th class="text-left">Source</th>
              <th class="text-left">Price</th>
              <th class="text-left">Car</th>
              <th colspan="3" class="text-left">Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @car.parts.each do |part| %>
              <tr>
                <td><%= part.part_name %></td>
                <td><%= part.quantity_purchased %></td>
                <td><%= part.purchase_source %></td>
                <td><%= part.part_price %></td>
                <td><%= link_to Car.find(part.car_id).car_type.name, car_path(part.car_id) %></td>
                <td><%= link_to 'Show', part %></td>
                <td><%= link_to 'Edit', edit_part_path(part) %></td>
                <td><%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No parts associated with this car.</p>
      <% end %>

      <div class="flex justify-between">
        <%= link_to "Edit this Car", edit_car_path(@car), class: 'rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium m-2' %>
        <%= link_to "Back to Cars", cars_path, class: 'rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium m-2' %>
        <%= button_to "Destroy this Car", @car, method: :delete, data: { confirm: 'Are you sure?' }, class: 'rounded-lg py-3 px-5 bg-red-500 inline-block font-medium m-2' %>
      </div>
    <% else %>
      <%= link_to "Back to Cars", cars_path, class: 'rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium m-2'%> 
    <% end %>
</div>

