<p style="color: green"><%= notice %></p>

<%= render @car %>
<br>
<br>

<% if @edit_access %>
  <% if @car.parts.any? %><table width="100%">
    <table width = "100%">
      <thead>
        <tr>
          <th class="text-left">Part Name</th>
          <th class="text-left">Quantity</th>
          <th class="text-left">Source</th>
          <th class="text-left">Price</th>
          <th class="text-left">Car</th>
          <th colspan="3" class="text-left">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @car.parts.each do |part| %>
          <tr>
            <td><%= part.part_name %></td>
            <td><%= part.quantity_purchased %></td>
            <td><%= part.purchase_source %></td>
            <td><%= part.part_price %></td>
            <td><%= link_to Car.find(part.car_id).car_type.name, car_path(part.car_id) %></td>
            <td><%= link_to 'Show', part %></td>
            <td><%= link_to 'Edit', edit_part_path(part) %></td>
            <td><%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No parts associated with this car.</p>
  <% end %>

  <div>
    <%= link_to "Edit this Car", edit_car_path(@car) %> |
    <%= link_to "Back to Cars", cars_path %>

    <%= button_to "Destroy this Car", @car, method: :delete %>
  </div>
<% else %>
  <%= link_to "Back to Dashboard", dashboard_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"%>
<% end %>