<p style="color: green"><%= notice %></p>
<div class="flex flex-col justify-center items-center">
    <h1 class='text-5xl p-4 font-bold'>Car</h1>
    <%= render @car %>
    
    <div class="flex flex-col justify-center items-center w-full">
    <h1 class="text-3xl font-bold p-4">Notes</h1>
    </div>
    <%= form_with(model: Note.new, url: notes_path, local: true, class: 'w-full') do |form| %>
      <div class="flex items-center w-full" width = "100%">
        <%= form.text_area :content, class: 'form-textarea resize-y w-full h-32 w-full py-2 m-2 px-2', placeholder: 'Enter your note here...' %>
        <%= form.submit "Create Note", class: "m-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
        <%= form.hidden_field :car_id, value: @car.id %>
        <%= form.hidden_field :user_id, value: @current_user.id %>
      </div>
    <% end %>

    <% if @car.notes.any? %>
      <div class="overflow-x-auto w-full">
        <table class="w-full overflow-hidden bg-white divide-y divide-gray-300 rounded-lg">
          <thead>
            <tr>
              <td class='p-4 text-xl font-bold text-left'>User</td>
              <td class='p-4 text-xl font-bold text-left'>Note Info</td>
              <% if @current_user.present? %>
                <td colspan="2" class='p-4 text-xl font-bold text-left'>Actions</td>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @car.notes.each do |note| %>
              <tr>
                <td class="px-3 py-4"><%= User.find(note.user_id).email %></td>
                <td class="px-3 py-4 break-all"><%= note.content %></td>
                <% if @current_user.present? && note.user_id == @current_user.id %>
                  <td class="px-3 py-4">
                    <%= link_to "Edit", edit_note_path(note), class: "text-blue-500 hover:underline mr-2" %>
                  </td>
                  <td class="px-3 py-4">
                    <%= button_to 'Delete', note_path(note), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-500 hover:underline" %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    
    <% if @edit_access %>
      <% if @car.parts.any? %>
      <div class="flex flex-col justify-center items-center w-full">
        <h1 class="text-3xl font-bold p-4 mt-2">Associated Parts</h1>
        <%= link_to "Add a Part", new_part_car_path(@car), class: 'rounded-lg py-3 px-5 bg-blue-400 inline-block font-medium m-2' %>
      </div>
      <div class="overflow-x-auto">
        <table class="w-full max-w-6xl mx-auto overflow-hidden bg-white divide-y divide-gray-300 rounded-lg">
          <thead>
            <tr>
              <th class="p-4 text-xl font-bold text-left">Part Name</th>
              <th class="p-4 text-xl font-bold text-left">Quantity</th>
              <th class="p-4 text-xl font-bold text-left">Source</th>
              <th class="p-4 text-xl font-bold text-left">Price</th>
              <th colspan="3" class="p-4 text-xl font-bold">Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @car.parts.each do |part| %>
              <tr>
                <td class = "px-3 py-4"><%= part.part_name %></td>
                <td class = "px-3 py-4"><%= part.quantity_purchased %></td>
                <td class = "px-3 py-4"><%= part.purchase_source %></td>
                <td class = "px-3 py-4"><%= part.part_price %></td>
                <td class = "px-3 py-4"><%= link_to 'Show', part, class: "text-blue-500 hover:underline" %></td>
                <td class = "px-3 py-4"><%= link_to 'Edit', edit_part_path(part), class: "text-blue-500 hover:underline" %></td>
                <td class = "px-3 py-4"><%= link_to 'Delete', part, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-500 hover:underline" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <%= link_to "Add a Part", new_part_car_path(@car), class: 'rounded-lg py-3 px-5 bg-blue-400 inline-block font-medium m-2' %>
      <% end %>

      <div class="flex justify-between">
        <%= link_to "Edit this Car", edit_car_path(@car), class: 'rounded-lg py-3 px-5 bg-blue-400 inline-block font-medium m-2' %>
        <%= button_to "Delete this Car", @car, method: :delete, data: { confirm: 'Are you sure?' }, class: 'rounded-lg py-3 px-5 bg-red-500 inline-block font-medium m-2' %>
        <%= link_to "Back to all Cars", cars_path, class: 'rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium m-2' %>
          <% if @car.user_application.nil? == false %>
            <%= link_to "View Application", user_application_path(@car.user_application), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium m-2" %>
          <% end %>
      </div>
    <% else %>
      <div class="flex justify-between">
      <%= link_to "Back to My Cars", cars_path, class: 'rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium m-2'%> 
      <% if @car.user_application.nil? == false %>
            <%= link_to "View Application", user_application_path(@car.user_application), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium m-2" %>
          <% end %>
      </div>
    <% end %>
</div>

