<table class="w-full mx-auto shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 bg-white">
  <thead>
    <tr>
      <th class="border border-gray-200 px-3 py-2 flex justify-left">Date Created</th>
      <th class="border border-gray-200 px-3 py-2 justify-left">Child Name</th>
      <th class="border border-gray-200 px-3 py-2">Status</th>
      <th class="border border-gray-200 px-3 py-2"> Application Actions</th>
    </tr>
  </thead>
  <tbody>
    <% user_applications.each_with_index do |user_application, index| %>
      <tr class="<%= index.odd? ? 'bg-gray-100' : 'bg-white' %> border-t border-gray-200">
        <td class="border border-gray-200 px-3 py-2"><%= user_application.created_at.strftime("%Y-%m-%d") %></td>
        <td class="border border-gray-200 px-3 py-2">
          <div class="text-lg font-semibold"><%= user_application.child_first_name + " " + user_application.child_last_name %></div>
        </td>
        <td class="border border-gray-200 px-3 py-2">
          <% status_color = case
                             when user_application.accepted == true
                               'bg-green-500'
                             when user_application.accepted.nil?
                               'bg-white'
                             when user_application.waitlist == true
                               'bg-blue-500'
                             else
                               'bg-red-500'
                           end %>
          <span class="inline-block h-4 w-4 rounded-full border border-black mr-2 <%= status_color %>"></span>
          <% if user_application.accepted.nil? %>
            <span class="text-black">Pending</span>
          <% elsif user_application.accepted == false && user_application.waitlist == false %>
            <span class="text-red-500">Denied</span>
          <% elsif user_application.waitlist == true %>
            <span class="text-blue-500">Waitlisted</span>
          <% elsif user_application.accepted == true %>
            <span class="text-green-500">Accepted</span>
          <% end %>
        </td>
        <td class="border border-gray-200 px-3 py-2">
          <div class="flex justify-center">
            <%= link_to("View", user_application_path(user_application), class: view_link_class)%>
            <%= link_to("Change Status", edit_user_application_path(user_application), class: status_link_class)%>
            <%= link_to("Delete", delete_user_application_path(user_application), class: delete_link_class)%>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
