<div class='mt-8'><%= link_to('Back to Current User Applications', user_applications_path, class:'rounded-lg ml-3 py-2 px-3 bg-blue-500 text-white inline-block font-medium cursor-pointer hover:bg-blue-600') %></div>

<% # Handles applying filters # %>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const clearFiltersBtn = document.getElementById("clearFiltersBtn");
    clearFiltersBtn.addEventListener("click", function() {
      // Clear all filter options
      document.querySelectorAll("input[type='checkbox']").forEach(function(checkbox) {
        checkbox.checked = false;
      });
      
      // Clear text input fields
      document.querySelectorAll("input[type='text']").forEach(function(input) {
        input.value = "";
      });

      // Clear date input fields
      document.querySelectorAll("input[type='date']").forEach(function(input) {
        input.value = "";
      });

      // Clear number input fields
      document.querySelectorAll("input[type='number']").forEach(function(input) {
        input.value = "";
      });
      
      // Submit the form to apply cleared filters
      document.querySelector(".filter-options form").submit();
    });
  });
</script>

<% # Handles applying sorting options # %>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const sortOptionDropdown = document.getElementById("sortOption");

    sortOptionDropdown.addEventListener("change", function() {
      // Get the selected sorting option
      const selectedSortOption = sortOptionDropdown.value;

      // Update the URL with the selected sorting option
      const currentUrl = new URL(window.location.href);
      currentUrl.searchParams.set('sort_option', selectedSortOption);

      // Redirect to the updated URL
      window.location.href = currentUrl.href;
    });
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const filterOptionsBox = document.querySelector(".filter-options");
    const toggleFiltersBtn = document.getElementById("toggleFiltersBtn");

    toggleFiltersBtn.addEventListener("click", function() {
      // Toggle the display property of the filter options box
      if (filterOptionsBox.style.display === "none") {
        filterOptionsBox.style.display = "block";
        toggleFiltersBtn.textContent = "Hide Filters";
      } else {
        filterOptionsBox.style.display = "none";
        toggleFiltersBtn.textContent = "Show Filters";
      }
    });
  });
</script>

<h1 class='text-4xl font-bold m-5 text-center'>Archived User Applications</h1>
<% if @user.officer_member? || @user.admin? || @user.staff_member? %>
  <% if @date_range_error.present? %>
    <div class="text-red-600 text-bold ml-3"><%= @date_range_error %></div>
  <% end %>
  <% if @height_range_error.present? %>
    <div class="text-red-600 text-bold ml-3"><%= @height_range_error %></div>
  <% end %>
  <% if @height_value_error.present? %>
    <div class="text-red-600 text-bold ml-3"><%= @height_value_error %></div>
  <% end %>
  <%= render partial: 'user_applications_table', locals: {  
    user_applications: @officer_user_applications, 
    view_link_class: "action show py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-300 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100",
    status_link_class: "action accept py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-300 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 ",
    archive_link_class: "py-2.5 px-5 me-2 mb-2 text-sm font-medium bg-gray-300 text-black focus:outline-none rounded-full border border-gray-400 hover:bg-gray-400",
    delete_link_class: "text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2",
    table_class: "accepted",
    header_color: "green-800"
  } %>
<% end %>