<div class='mt-8'><%= link_to('<- Back to Dashboard', dashboard_path, class:'rounded-lg ml-3 py-2 px-3 bg-gray-500 text-white inline-block font-medium cursor-pointer hover:bg-gray-600') %></div>

<% # Handles applying filters # %>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const showFiltersBtn = document.getElementById("showFiltersBtn");
    const clearFiltersBtn = document.getElementById("clearFiltersBtn");
    const filterOptions = document.querySelector(".filter-options");

    showFiltersBtn.addEventListener("click", function() {
      if (filterOptions.classList.contains("hidden")) {
        filterOptions.classList.remove("hidden");
        showFiltersBtn.textContent = "Hide Filters";
      } else {
        filterOptions.classList.add("hidden");
        showFiltersBtn.textContent = "Show Filters";
      }
    });

    clearFiltersBtn.addEventListener("click", function() {
      // Clear all filter options
      document.querySelectorAll("input[type='checkbox']").forEach(function(checkbox) {
        checkbox.checked = false;
      });
      
      // Clear text input fields
      document.querySelectorAll("input[type='text']").forEach(function(input) {
        input.value = "";
      });

      // Clear date input fields
      document.querySelectorAll("input[type='date']").forEach(function(input) {
        input.value = "";
      });

      // Clear number input fields
      document.querySelectorAll("input[type='number']").forEach(function(input) {
        input.value = "";
      });
      
      // Submit the form to apply cleared filters
      filterOptions.querySelector("form").submit();
    });
  });
</script>

<% # Handles applying sorting options # %>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Your existing JavaScript code...

    const sortOptionDropdown = document.getElementById("sortOption");

    sortOptionDropdown.addEventListener("change", function() {
      // Get the selected sorting option
      const selectedSortOption = sortOptionDropdown.value;

      // Update the URL with the selected sorting option
      const currentUrl = new URL(window.location.href);
      currentUrl.searchParams.set('sort_option', selectedSortOption);

      // Redirect to the updated URL
      window.location.href = currentUrl.href;
    });
  });
</script>



<div class="user_applications index py-10">
  <% if @user.officer_member? %>
    <div class="filter-toggle mb-5">
      <button id="showFiltersBtn" class="ml-3 py-1 px-2 bg-gray-500 text-white inline-block cursor-pointer rounded-md shadow-xl hover:bg-gray-600">Show Filters</button>
      <% if @date_range_error.present? %>
        <div class="text-red-600 text-bold ml-3"><%= @date_range_error %></div>
      <% end %>
      <% if @height_range_error.present? %>
        <div class="text-red-600 text-bold ml-3"><%= @height_range_error %></div>
      <% end %>
      <% if @height_value_error.present? %>
        <div class="text-red-600 text-bold ml-3"><%= @height_value_error %></div>
      <% end %>
      <% if params[:accepted].present? || params[:waitlist].present? || params[:not_accepted].present? || params[:start_date].present? || params[:end_date].present? || params[:min_height].present? || params[:max_height].present?%>
        <button id="clearFiltersBtn" class="rounded-lg ml-3 py-2 px-3 bg-red-600 text-white inline-block font-medium cursor-pointer">Clear Filters</button>
      <% end %>
    </div>

    <div class="filter-options hidden ml-3 ">
      <h3 class="text-lg font-semibold mb-3">Filter Options:</h3>
      <%= form_tag(user_applications_path, method: :get) do %>
        <label>
          <%= check_box_tag :accepted, 1, params[:accepted] == "1" %>
          Accepted
        </label>
        <label>
          <%= check_box_tag :waitlist, 1, params[:waitlist] == "1" %>
          Waitlist
        </label>
        <label >
          <%= check_box_tag :not_accepted, 1, params[:not_accepted] == "1" %>
          Not Accepted
        </label>
        <br />
        <br />
        <label>
          Application Date Range:
          <%= date_field_tag :start_date, params[:start_date], placeholder: "Start Date" %>
           -
          <%= date_field_tag :end_date, params[:end_date], placeholder: "End Date" %>
        </label>
        <br />
        <br />
        <label class="mt-3">
          Child Height Range (35-45):
          <%= number_field_tag :min_height, params[:min_height], placeholder: "Min Height" %>
           - 
          <%= number_field_tag :max_height, params[:max_height], placeholder: "Max Height" %>
        </label>
        <br />
        <%= submit_tag "Apply Filters", class: "rounded-lg mt-5 py-2 px-3 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      <% end %>
    </div>
    <div>
      <label class="ml-3 mt-3">
      Sort By:
      <select id="sortOption" class="rounded-lg mt-1 py-2 px-3 bg-white text-gray-900">
        <option value="created_at_desc" <%= params[:sort_option] == "created_at_desc" ? "selected" : "" %>>Newest to oldest</option>
        <option value="created_at_asc" <%= params[:sort_option] == "created_at_asc" ? "selected" : "" %>>Oldest to newest</option>
      </select>
      </label>
    </div>
  <% end %>
  <h2 class="text-2xl font-bold ml-3"><%= @page_title %></h2>
  <br />
  <% if @user.applicant? %>
    <div class='flex flex-col justify-center items-center border border-black bg-[#FFEFAD] rounded-lg lg:w-2/3 w-[500px] mx-auto'>
    <div class='w-3/4'>
        <div class='flex justify-between px-12 py-4 font-bold'>
            <p>Child's Name</p>
            <p class='px-8'>Actions</p>
        </div>
        <div class='flex flex-col'>
            <% @user_applications.each do |user_application| %>
                <div class='flex justify-between'>
                    <p><%= user_application.child_name %></p>
                    <div class='py-2'>
                        <%= link_to("Show", user_application_path(user_application), class: "action show border border-black rounded-lg bg-white px-2 py-1 m-1")%>
                        <%= link_to("Edit", edit_user_application_path(user_application), class: "action edit border border-black rounded-lg bg-white px-2 py-1 m-1")%>
                        <%= link_to("Delete", delete_user_application_path(user_application), class: "action delete border border-black rounded-lg bg-white px-2 py-1 m-1")%>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
    <br />
    <br />
  <% end %>

  <% if @user.officer_member? %>
    <%= render partial: 'user_applications_table', locals: { 
      title: "Accepted", 
      user_applications: @accepted_user_applications, 
      view_link_class: "action show rounded-lg py-2 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer hover:bg-blue-700",
      status_link_class: "action accept rounded-lg py-2 px-3 bg-blue-600 text-white inline-block font-medium cursor-pointer hover:bg-blue-700",
      delete_link_class: "rounded-lg py-2 px-3 bg-red-600 text-white inline-block font-medium cursor-pointer hover:bg-red-700",
      table_class: "accepted",
      header_color: "green-800"
    } %>
    <br />
    <%= render partial: 'user_applications_table', locals: { 
      title: "Waitlisted", 
      user_applications: @waitlist_user_applications,
      view_link_class: "action show rounded-lg py-2 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer hover:bg-blue-700",
      status_link_class: "action accept rounded-lg py-2 px-3 bg-blue-600 text-white inline-block font-medium cursor-pointer hover:bg-blue-700",
      delete_link_class: "rounded-lg py-2 px-3 bg-red-600 text-white inline-block font-medium cursor-pointer hover:bg-red-700",
      table_class: "waitlist",
      header_color: "gray-500"
    } %>
    <br />
    <%= render partial: 'user_applications_table', locals: { 
      title: "Not Accepted", 
      user_applications: @not_accepted_user_applications,
      view_link_class: "action show rounded-lg py-2 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer hover:bg-blue-700",
      status_link_class: "action accept rounded-lg py-2 px-3 bg-blue-600 text-white inline-block font-medium cursor-pointer hover:bg-blue-700",
      delete_link_class: "rounded-lg py-2 px-3 bg-red-600 text-white inline-block font-medium cursor-pointer hover:bg-red-700",
      table_class: "not-accepted",
      header_color: "red-800"
    } %>
    <br />
  <% end %>
  
  <div class='text-center m-4'>
        <%= link_to("New Application", new_user_application_path, class: "border border-black bg-white px-2 py-1 mt-2 rounded-lg")%>
    </div>
  <br />
</div>
