<div class='mt-8'><%= link_to('Back to Dashboard', dashboard_path, class:'border border-black bg-white rounded-lg px-2 py-1 m-4') %></div>
<div class="user_applications index py-10">
  <h2 class="text-2xl font-bold ml-3"><%= @page_title %></h2>
  <br />
  <% if @user.visitor? %>
    <table class="listing w-full">
      <tr class="header">
        <th>Applicant Name</th>
      </tr>
      <% @user_applications.each do |user_application| %>
        <tr>
          <td><%= user_application.child_name %></td>
          <td class="actions">
            <%= link_to("Show", user_application_path(user_application), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer")%>
            <%= link_to("Edit", edit_user_application_path(user_application), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer")%>
            <%= link_to("Delete", delete_user_application_path(user_application), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer")%>
          </td>
        </tr>
      <% end %>
    </table>
    <br />
    <br />
  <% end %>

  <% if @user.officer_member? %>
  <%= render partial: 'user_applications_table', locals: { 
  title: "Not Accepted", 
  user_applications: @not_accepted_user_applications,
  empty: @not_accepted_user_applications.empty?, 
  view_link_class: "action show rounded-lg py-2 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer hover:bg-blue-500",
  accept_link_class: "action accept rounded-lg py-2 px-3 bg-blue-600 text-white inline-block font-medium cursor-pointer hover:bg-blue-500",
  reject_link_class: "action reject rounded-lg py-2 px-4 bg-blue-600 text-white inline-block font-medium cursor-pointer hover:bg-blue-500",
  waitlist_link_class: "action waitlist rounded-lg py-2 px-3 bg-blue-600 text-white inline-block font-medium cursor-pointer hover:bg-blue-500",
  table_class: "not-accepted",
  header_color: "red-800"
} %>

<%= render partial: 'user_applications_table', locals: { 
  title: "Waitlist", 
  user_applications: @waitlist_user_applications,
  empty: @waitlist_user_applications.empty?,
  view_link_class: "action show rounded-lg py-2 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer hover:bg-blue-500",
  accept_link_class: "action accept rounded-lg py-2 px-3 bg-blue-600 text-white inline-block font-medium cursor-pointer hover:bg-blue-500",
  reject_link_class: "action reject rounded-lg py-2 px-4 bg-blue-600 text-white inline-block font-medium cursor-pointer hover:bg-blue-500",
  table_class: "waitlist",
  header_color: "gray-600"
} %>

<%= render partial: 'user_applications_table', locals: { 
  title: "Accepted", 
  user_applications: @accepted_user_applications, 
  empty: @accepted_user_applications.empty?,
  view_link_class: "ction show rounded-lg py-2 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer hover:bg-blue-500",
  reject_link_class: "action reject rounded-lg py-2 px-4 bg-blue-600 text-white inline-block font-medium cursor-pointer hover:bg-blue-500",
  table_class: "accepted",
  header_color: "blue-500"
} %>

  <% end %>

  <%= link_to("New Application", new_user_application_path, class: "action show border border-black px-2 py-1 m-2 bg-white hover:bg-gray-200")%>
  <br />
</div>
