<div class='mt-8'><%= link_to('Back to Applications', user_applications_path, class:'rounded-lg mx-4 py-2 px-3 bg-gray-500 text-white inline-block font-medium cursor-pointer hover:bg-gray-600') %></div>

<div class="flex flex-col justify-center items-center">
    <h1 class='p-4 text-xl font-bold'><%= @user_application.child_first_name + " " + @user_application.child_last_name%>'s Application</h1>

    <%= form_for @user_application, html: { class: 'flex flex-col items-center' } do |f| %>
        
        <%= render(partial: 'form', locals: {f: f}) %>

    <% end %>

    <div class="flex justify-between">
        <% if !(@user.visitor? || @user.applicant?) %>
            <%= link_to('Notes', user_application_application_notes_path(@user_application), class: 'rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium m-2')%>
        <% end %>
        <%= link_to('Edit', edit_user_application_path(@user_application), class: 'rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium m-2') %>
        <%= link_to('Delete', delete_user_application_path(@user_application), class: 'rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium m-2') %>
        <% if @has_car %>
            <%= link_to('View Car', car_path(@car), class: 'rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium m-2') %>
        <% elsif @edit_access %>
            <%= link_to('Create Car', new_car_user_application_path, class: 'rounded-lg py-3 px-5 bg-blue-400 inline-block font-medium m-2') %>
        <% end %>
    </div>
</div>
