<!DOCTYPE html>
<html>
  <head>
    <title>GoogleOauthDevise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'general_layout', media: 'all', 'data-turbolinks-track': 'reload' %>

    <style>
        .flash__alert   { color: red; }
        .flash__notice  { color: blue; }
        .flash__success { color: green; }
    </style>
    <script>
    function toggleDropdown() {
        var dropdown = document.getElementById("dropdown");
        dropdown.classList.toggle("hidden");
        dropdown.classList.toggle("flex");
        dropdown.classList.toggle("flex-col");
    }
</script>
<style>
        /* Optional: for smooth dropdown appearance */
        .dropdown-enter-active, .dropdown-leave-active {
            transition: height 0.5s ease;
        }
        .dropdown-enter, .dropdown-leave-to /* .dropdown-leave-active in <2.1.8 */ {
            height: 0;
            overflow: hidden;
        }
    </style>


    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <div id="page-container">

      
        
      <div id="header" class="relative" style="background-image: url('<%= asset_path('gobabygo_logo.png') %>'); ">

          <div id="header-box" class="absolute inset-x-0 bottom-0">
              <div class=" text-black">
                  <nav class="max-w-6xl mx-auto px-4">
                      <div class="flex justify-between">

                          <div id="nav-title" class="py-3 flex items-center">
                              <a href="<%= root_path %>" class="text-3xl font-bold" style="color:maroon; text-shadow:-1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF; ">GoBabyGo x TAMU</a>
                          </div>

                          <div id="nav-buttons" class="hidden md:flex space-x-4 items-center text-xl font-semibold">
                              <a href="<%= root_path %>" class="py-4 px-2 hover:text-gray-400 transition duration-300 ">Home</a>
                              <a href="/abouts" class="py-4 px-2 hover:text-gray-400 transition duration-300">About</a>
                             
                   
                              <a href="/contacts" class="py-4 px-2 hover:text-gray-400 transition duration-300">Contact</a>
                              <% if admin_signed_in? %>
                                <%= link_to "Dashboard", dashboard_path , class:'text-xs md:text-sm lg:text-md xl:text-lg 2xl:text-lg hover:text-red-400 transition duration-300' %>
                                <%= link_to " Sign out ", destroy_admin_session_path, class:'border border-black bg-white rounded-lg text-xs md:text-sm lg:text-md xl:text-lg 2xl:text-lg hover:text-red-400 transition duration-300',  id:'signOut', style: ' ' %>

                              <% else %>
                                <%= button_to " Sign in ", admin_google_oauth2_omniauth_authorize_path, class:'border border-black bg-white rounded-lg text-xs md:text-sm lg:text-md xl:text-lg 2xl:text-lg hover:text-red-400 transition duration-300', id:'signIn', style: 'margin-left:15%;width:130%;padding-left:5%; padding-right:5%; ' %>
                              <% end %>

                          </div>


                      </div>
                  </nav>
              </div>
          </div>
      </div>


      <div id="content" style="background-color:transparent;">
        <div id="content-box">
        <%= yield %>
        </div>
      </div>
      <div id="footer" style="background-color:transparent; height:10vh;">
      </div>
      


    </div>





 <% if flash.any? %>
      <% flash.each do |key, value| -%>
        <section class="flash flash__<%= key %>"><%= value.html_safe %></section>
      <% end -%>
  <% end %> 

    
    
  </body>
</html>